body{
    font-size: 25px;
    color: white;
    background-color: rgb(65, 65, 65)
}

.container{
    width: 95%;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: 70% 30%;
    /*
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    This is how you could do custom gaps between rows or columns
    */
    grid-gap: 1em;
}

.grid > div{
    background: rgb(139, 139, 139);
    padding: 1em;
}

.grid > div:nth-child(odd){
    background:#ddd;
    color: black;
}

.appTopBar{
    background: black;
}